@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

body {
  margin: 0;
}

#root {
  height: 100%;

  &::before {
    content: "";
    background: url(bg.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
    height: 100%;
    width: 100%;
    position: fixed;
    transform: scale(1.1);
  }
}

.pf-x-c-title {
  z-index: 1;
  color: var(--pf-global--Color--light-100);
}

.pf-x-button--cta {
  position: fixed;
  right: 1rem;
  top: 1rem;
}
