@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

body {
  margin: 0;
}

#root {
  height: 100%;

  &::before {
    content: "";
    background: url(bg.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
    height: 100%;
    width: 100%;
    position: fixed;
    transform: scale(1.1);
  }
}

.pf-x-c-title {
  z-index: 1;
  color: var(--pf-global--Color--light-100);
}

.pf-x-cta {
  z-index: 1;
  position: fixed !important;
  right: 1rem;
  bottom: 1rem;
  background: rgba($pf-global--primary-color--100, 60%) !important;
  transition: background-color 250ms ease-in-out;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);

  &:hover {
    background: $pf-global--primary-color--100 !important;
  }
}

.pf-x-settings {
  z-index: 1;
  position: fixed !important;
  right: 1rem;
  top: 1rem;
  background: rgba($pf-color-white, 60%) !important;
  transition: background-color 250ms ease-in-out;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  color: $pf-color-black-900 !important;

  &:hover {
    background: $pf-color-white !important;
  }
}

.pf-c-backdrop {
  background: transparent !important;
  backdrop-filter: none;
  pointer-events: none;
}

.pf-c-modal-box {
  pointer-events: all;
  width: 100% !important;
  height: 33vh;
  margin-top: auto;
  margin-bottom: 1.5rem;
  transition: background-color 250ms ease-in-out;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  max-width: 1600px !important;

  &--fullscreen {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100% !important;
  }

  &--transparent {
    background: rgba(255, 255, 255, 85%) !important;

    .pf-c-form-control {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    .pf-c-table thead th {
      background: rgba(255, 255, 255, 50%) !important;
    }
  }

  .pf-c-toolbar,
  .pf-c-table,
  .pf-c-toggle-group__button,
  .pf-c-form-control {
    background: transparent;
  }

  .pf-c-table thead th {
    transition: background-color 250ms ease-in-out;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
  }
}

.pf-c-toggle-group__item--centered > .pf-c-toggle-group__button {
  align-items: center !important;
}

.pf-c-modal-box__header {
  padding: 0 !important;
}

.pf-l-bullseye {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
