@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

body {
  margin: 0;
}

#root {
  height: 100%;

  &::before {
    content: "";
    background: url(bg.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
    height: 100%;
    width: 100%;
    position: fixed;
    transform: scale(1.1);
  }
}

.pf-x-c-title {
  z-index: 1;
  color: var(--pf-global--Color--light-100);
}

.pf-x-button--cta {
  position: fixed !important;
  right: 1rem;
  bottom: 1rem;
}

.pf-c-backdrop {
  background: transparent !important;
  backdrop-filter: none;
  pointer-events: none;
}

.pf-c-modal-box {
  pointer-events: all;
  width: 100% !important;
  height: 33vh;
  margin-top: auto;
  margin-bottom: 1.5rem;

  &--fullscreen {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.pf-c-toggle-group__item--centered > .pf-c-toggle-group__button {
  align-items: center !important;
}
